@import '~antd/dist/antd.css';

.jumbotron {
    padding:70px 20px 70px 20px;
    margin:0px auto;
    background: rgb(190,180,132) ;
    color:white;
    
}

.border {
  padding: 30px;
  background: rgb(56,56,56);
}